[submodule "refs/kimi-cli"]
	path = refs/kimi-cli
	url = git@github.com:MoonshotAI/kimi-cli.git
[submodule "refs/software-agent-sdk"]
	path = refs/software-agent-sdk
	url = https://github.com/openhands/software-agent-sdk
[submodule "refs/python-sdk"]
	path = refs/python-sdk
	url = https://github.com/agentclientprotocol/python-sdk
[submodule "refs/pi-mono"]
	path = refs/pi-mono
	url = https://github.com/badlogic/pi-mono.git
[submodule "refs/crow"]
	path = refs/crow
	url = https://github.com/odellus/crow
[submodule "refs/claude-code-acp"]
	path = refs/claude-code-acp
	url = https://github.com/zed-industries/claude-code-acp
